*{ margin:0; padding:0;}
body { width:100vw; height:100vh; overflow: hidden;}
nav     { width: 100vw;  bottom:0; left:0; right:0; position:fixed;  background:green; z-index:999; cursor: pointer;}
nav lu  { margin: auto; display: block; text-align: center; list-style-type: none; width: 90%;}
nav li  { width:20%; min-width:10%; max-width:7em; padding:0.3%; display:inline-block; text-align: center; border: solid 3px transparent;}




main {

    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%; // fallback
    height: 50vw; max-height: 100vh;
  }

main section { width:100vw; min-width:100vw; height:100vh;}

header {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%; // fallback
  height: 50vw; max-height: 100vh;

}
header div { width:100vw; min-width:100vw; height:10vh;}


#blue { background:blue;}
#pink { background:pink;}
#grey { background:grey;}
#cyan { background:cyan;}
